<script type="text/javascript">
    RED.nodes.registerType('num-if',
    {
        category: 'sense iot control',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"num if"},
            condition: {value:"equals"},
            checkvalue: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"num if";
        }
    });
</script>

<script type="text/html" data-template-name="num-if">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-condition"><i class="icon-tag"></i> Condition</label>
        <select id="node-input-condition">
            <option value="equals">Equals</option>
            <option value="larger">Larger Than</option>
            <option value="smaller">Smaller Than</option>
            <option value="notequal">Does NOT Equal</option>
            <option value="rounded">Is Rounded</option>
            <option value="even">Is Even</option>
            <option value="odd">Is Odd</option>
          </select>
    </div>
    <div class="form-row">
        <label for="node-input-checkvalue"><i class="icon-tag"></i> Value</label>
        <input type="number" id="node-input-checkvalue" placeholder="value">
    </div>
</script>

<script type="text/html" data-help-name="num-if">
    <p>Repeat the input if the incoming number is equal to, larger than or smaller than a certain value.</p>
</script>