<script type="text/javascript">
    RED.nodes.registerType('repeat',
    {
        category: 'sense iot control',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"repeat"},
            amount: {value:1, required:true}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"repeat";
        }
    });
</script>

<script type="text/html" data-template-name="repeat">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-amount"><i class="icon-tag"></i> Repeats</label>
        <input type="number" id="node-input-amount" placeholder="value" value="1">
    </div>
</script>

<script type="text/html" data-help-name="repeat">
    <p>Repeat the input a specified amount of times.</p>
</script>