<script type="text/javascript">
    RED.nodes.registerType('bool-if',
    {
        category: 'sense iot control',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"bool if"},
            condition: {value:"equals"},
            checkvalue: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"bool if";
        }
    });
</script>

<script type="text/html" data-template-name="bool-if">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-condition"><i class="icon-tag"></i> Condition</label>
        <select id="node-input-condition">
            <option value="equals">Equals</option>
            <option value="notequal">Does NOT Equal</option>
          </select>
    </div>
    <div class="form-row">
        <label for="node-input-checkvalue"><i class="icon-tag"></i> Value</label>
        <select id="node-input-checkvalue">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
    </div>
</script>

<script type="text/html" data-help-name="num-if">
    <p>Repeat the input if the incoming number is equal to or not equal to a certain value.</p>
</script>